# Virtual environment
venv/
.env
*.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE settings
.idea/
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Upload folders (if any)
uploads/
temp/
